#container {
	/*border: 1px black solid;*/
	height: 1000px;
}

button {
	margin: 10px 465px;
}

#board {
	border: 1px red solid;
	width: 640px;
	height: 640px;
	margin: auto;
	display: grid;
}

.box {
	box-sizing: border-box;
	border: 1px black solid;
	color: yellow;
}

.blacked {
	background: black;
}